[MESSAGES CONTROL]
# Run all checks except those
enable=all
disable=
    fixme,
    locally-disabled,
    suppressed-message,
    missing-docstring,
    duplicate-code,  # test_commands_with_no_args() commands list
    super-with-arguments,  # we still support python2
    unspecified-encoding,  # we still support python2
    consider-using-f-string,  # we still support python2

[VARIABLES]
allow-global-unused-variables=no

[FORMAT]
max-line-length=88  # black compatible
expected-line-ending-format=LF  # enforce Unix \n

# No reports, please
[MASTER]
persistent=no
[REPORTS]
reports=no
score=no
